{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
<li><a href="{% url 'analyzer_centrality' project=object.slug %}">Centrality</a></li>
{% endblock %}


{% block content %}
    {% if nodeset %}    
    <table class="sort table">
        <tr><td>Node label</td><th>in-degree</th><th>out-degree</th><th>degree</th><th>closeness</th><th>betweenness</th></tr>
        {% for node in nodeset %}
        <tr>

        <tbody>
        <td> {{ node.name }}</td>
        <th> {{ node.indegree_centrality }} </th>
        <th> {{ node.outdegree_centrality }}</th>
        <th> {{ node.degree_centrality }}</th>
        <th> {{ node.closeness_centrality }} </th>
        <th> {{ node.betweenness_centrality }} </th>
        </tbody>    
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No Centralities are available</p>
    {% endif %}



{% endblock %}


