  {% load static %}

<style>
svg {
  background-color: #DDD;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #555;
  stroke-width: 2px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 3,7;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 0px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

#graph-viz {
  height: 100%;
  width: 70%;
  float: left;
}

#input-display {
  height: 100%;
  width: 100%;
}

#newnode {
  height: 100%;
  width: 50%;

}

#newlink {
  height: 100%;
  width: 50%;

}


rect.selection {
    stroke          : black;
    stroke-dasharray: 5px;
    stroke-opacity  : 1;
    fill            : transparent;
}


</style>

<script src="http://d3js.org/d3.v3.min.js"></script>



<div id="app-body">

    <div id="mode-select">
      <ul>
        <li>노드추가 : 빈공간 마우스 왼쪽 클릭 </li>
        <li>노드 선택 : 선택할 노드 마우스 왼쪽 클릭</li>
        <li>노드 수정 : 노드 선택 후 아래 편집창에서 수정</li>
        <li>링크 추가 : 소스 노드 선택 후 타켓 노드 선택</li>
        <li>링크 선택 : 선택할 링크 마우스 왼쪽 클릭</li>
        <li>링크 수정 : 링크 선택 후 아래 편집창에서 수정</li>
        <li>링크 방향 변환 : 링크 선택후 C 키 입력</li>
        <li>다수 노드 선택 : ctrl+노드 선택</li>
        <li>다수 노드 및 링크 선택 : ctrl+ 마우스 드래그</li>
        <li>다수 링크 추가 : 다수 소스 노드 선택 후 타겟 노드 선택</li>
        <li>저장 및 취소 : 프로젝트 자료 수정 결과 저장 또는 취소 가능</li>
      </ul>
    </div>
  </br></br>
     <div id="saveelect" class="btn-group">
    <button class="btn btn-primary" onclick="saveData()">
       Save
    </button>
    <button class="btn btn-primary" onclick="cancelData()">
       Cancel
    </button>
    </div>
   <button class="btn btn-primary" onclick="stopmoving()">Stop move</button>
   <button class="btn btn-primary" onclick="startmoving()">Start move</button>
 </div>


<div id="graphall">
  <div id= "graph-viz"></div>

  <div id="input-display" height = "2px">

    <form id = "inputform" action = "{% url 'graphedit' project %}" method="post">
    {% csrf_token %}
    <div id= "newnode">

      <table class="table" id = "inputnode">
      </table>
     </div>

    <div id= "newlink">
      <table class="table" id = "inputlink">
      </table>
    </div>
    </form>
  </div>
</div>

<div id = "selectednode">
  <p>Node Edit</p>
  <pre id = "selectednodes"></pre>
</div>
<div id = "selectedlink">
  <p>Link Edit</p>
  <pre id = "selectedlinks"></pre>
</div>





<script>


function cancelData(){
  location.reload();
}
function stopmoving(){
  force.stop()
}
function startmoving(){
  force.start()
}





var MODE = {
      EDIT: 0,
      EVAL: 1
    },
    appMode = MODE.EDIT;

// set up SVG for D3
var width  = 1200,
    height = 900,
    colors = d3.scale.category10();

var svg = d3.select('#graph-viz')
  .append('svg')
  .attr('oncontextmenu', 'return false;')
  .attr('width', width)
  .attr('height', height);

// set up initial nodes and links
//  - nodes are known by 'id', not by index in array.
//  - reflexive edges are indicated on the node (as a bold black circle).
//  - links are always source < target; edge directions are set by 'left' and 'right'.

nodes = [];
links = [];
var newnodes = [];
var newlinks = []
var nodeHash = {};
lastNodeId = 0;
newLinkId = 0;

{% for node in nodeset %}
  var newNodesobj = {id: {{ node.idnumber }}, label: "{{ node.name }}", group: {{ node.group }}, reflexive: false };
  nodes.push(newNodesobj);
  nodeHash[String(nodes[{{ forloop.counter0 }}].id)] = {{ forloop.counter0 }};
  lastNodeId = Math.max(lastNodeId, {{ node.idnumber }});

{% endfor %}


{% for link in network %}
   var newLinkObj = {id: {{ link.pk }}, source: nodes[nodeHash[{{ link.sourceID }}]], sourceid: {{ link.sourceID }}, targetid: {{ link.targetID }}, target: nodes[nodeHash[{{ link.targetID }}]], weight: {{ link.weight }}, left: false, right: true };
   links.push(newLinkObj);
   newLinkId = Math.max(newLinkId, {{ link.pk }});
{% endfor %}


// init D3 force layout
var force = d3.layout.force()
    .nodes(nodes)
    .links(links)
    .size([width, height])
    .linkDistance(150)
    .charge(-500)
    .on('tick', tick)

// define arrow markers for graph links
svg.append('svg:defs').append('svg:marker')
    .attr('id', 'end-arrow')
    .attr('viewBox', '0 -5 10 10')
    .attr('refX', 6)
    .attr('markerWidth', 3)
    .attr('markerHeight', 3)
    .attr('orient', 'auto')
  .append('svg:path')
    .attr('d', 'M0,-5L10,0L0,5')
    .attr('fill', '#000');

svg.append('svg:defs').append('svg:marker')
    .attr('id', 'start-arrow')
    .attr('viewBox', '0 -5 10 10')
    .attr('refX', 4)
    .attr('markerWidth', 3)
    .attr('markerHeight', 3)
    .attr('orient', 'auto')
  .append('svg:path')
    .attr('d', 'M10,-5L0,0L10,5')
    .attr('fill', '#000');

// line displayed when dragging new nodes
var drag_line = svg.append('svg:path')
  .attr('class', 'link dragline hidden')
  .attr('d', 'M0,0L0,0');

// handles to link and node element groups
var path = svg.append('svg:g').selectAll('path'),
    circle = svg.append('svg:g').selectAll('g');

// mouse event vars
var selected_nodes = [],
    selected_node = null,
    selected_links = [],
    selected_link = null,
    mousedown_link = null,
    mousedown_node = null,
    mouseup_node = null;

function resetMouseVars() {
  mousedown_node = null;
  mouseup_node = null;
  mousedown_link = null;
}

function resetSelection() {
  selected_nodes = [];
  selected_links = [];
  restart()
}

// update force layout (called automatically each iteration)
function tick() {
  // draw directed edges with proper padding from node centers
  path.attr('d', function(d) {
    var deltaX = d.target.x - d.source.x,
        deltaY = d.target.y - d.source.y,
        dist = Math.sqrt(deltaX * deltaX + deltaY * deltaY),
        normX = deltaX / dist,
        normY = deltaY / dist,
        sourcePadding = d.left ? 17 : 12,
        targetPadding = d.right ? 17 : 12,
        sourceX = d.source.x + (sourcePadding * normX),
        sourceY = d.source.y + (sourcePadding * normY),
        targetX = d.target.x - (targetPadding * normX),
        targetY = d.target.y - (targetPadding * normY);
    return 'M' + sourceX + ',' + sourceY + 'L' + targetX + ',' + targetY;
  });

  circle.attr('transform', function(d) {
    return 'translate(' + d.x + ',' + d.y + ')';
  });
}

// update graph (called when needed)
function restart() {
  //
  setSelectedNode();
  setSelectedLinks();
  // path (link) group
  path = path.data(links);

  // update existing links
  path.classed('selected', function(d) { return (selected_links.indexOf(d)!= -1 ? true : false); })
    .style('marker-start', function(d) { return d.left ? 'url(#start-arrow)' : ''; })
    .style('marker-end', function(d) { return d.right ? 'url(#end-arrow)' : ''; });


  // add new links
  path.enter().append('svg:path')
    .attr('class', 'link')
    .classed('selected', function(d) { return (selected_links.indexOf(d)!= -1 ? true : false); })
    .style('marker-start', function(d) { return d.left ? 'url(#start-arrow)' : ''; })
    .style('marker-end', function(d) { return d.right ? 'url(#end-arrow)' : ''; })
    .on('mousedown', function(d) {
      // select link

      var link = links.filter(function(l) {
              return (l.source === d.target && l.target === d.source);
            })[0];

      if(d3.event.ctrlKey){
        if(selected_links.indexOf(d)!= -1){
          selected_links.splice(selected_links.indexOf(d),1);
        }
        else{
          selected_links.push(d);
          selected_links.push(link);

        }
      }
      else{
        selected_links = [];
        if(!(selected_links.length == 1 && selected_links.indexOf(d)!= -1)){
          selected_links.push(d);
          selected_links.push(link);
        }
      }
    mousedown_link = d;

    restart();

    });

  // remove old links
  path.exit().remove();

  var r, D, C;
  var len = nodes.length;

  if(len<25) {r=15, D=150, C=-500}
  else if(len<50) {r=14, D=100, C=-400}
  else if(len<75) {r=13, D=75, C=-300}
  else if(len<100) {r=12, D=60, C=-225}
  else if(len<125) {r=11, D=50, C=-175}
  else if(len<150) {r=10, D=40, C=-125}
  else if(len<175) {r=9, D=30, C=-100}
  else if(len<200) {r=8, D=25, C=-75}
  else if(len<250) {r=7, D=20, C=-60}
  else if(len<275) {r=6, D=15, C=-50}
  else {r=5, D=10, C =-45}




  force
    .linkDistance(D)
    .charge(C);



  // circle (node) group
  // NB: the function arg is crucial here! nodes are known by id, not by index!
  circle = circle.data(nodes, function(d) { return d.id; });

  // update existing nodes (reflexive & selected visual states)
  circle.selectAll('circle')
    .attr('r', r)
    .style('fill', function(d) { return (selected_nodes.indexOf(d)!= -1) ? d3.rgb(colors(d.group)).brighter().toString() : colors(d.group); })
    .classed('reflexive', function(d) { return d.reflexive; });


  // add new nodes
  var g = circle.enter().append('svg:g');

  g.append('svg:circle')
    .attr('class', 'node')
    .attr('r', r)
    .style('fill', function(d) { return (selected_nodes.indexOf(d)!= -1) ? d3.rgb(colors(d.group)).brighter().toString() : colors(d.group); })
    .style('stroke', function(d) { return d3.rgb(colors(d.group)).darker().toString(); })
    .classed('reflexive', function(d) { return d.reflexive; })
    .on('mouseover', function(d) {
      if(appMode !== MODE.EDIT || !mousedown_node || d === mousedown_node) return;
      // enlarge target node
      d3.select(this).attr('transform', 'scale(1.1)');
    })
    .on('mouseout', function(d) {
      if(appMode !== MODE.EDIT || !mousedown_node || d === mousedown_node) return;
      // unenlarge target node
      d3.select(this).attr('transform', '');
    })
    .on('mousedown', function(d) {

      if(d3.event.ctrlKey) {
        mousedown_node = d;
        if(selected_nodes.indexOf(mousedown_node) != -1){
          selected_nodes.splice(selected_nodes.indexOf(mousedown_node),1);
        }
        else{
          selected_nodes.push(mousedown_node);
        }
        //restart();

      }

      else{
        // select node
        mousedown_node = d;

        //seleted node is only one, then button click -> remove select
        if(selected_nodes.indexOf(mousedown_node) != -1 && selected_nodes.length == 1){
          selected_nodes = [];
        }

        else{

        //seleted nodes nothing, then add selected node
          if(selected_nodes == []){
            selected_node.push(d);
          }

        //selected nodes exist, then make links.

          else{

            selected_links = [];


            for(var i=0 ;i<selected_nodes.length;i++){

            selected_node = selected_nodes[i];
            var source, target, weight, direction;
            source = selected_node ;
            target = mousedown_node;
            if(source === target) continue;
            weight = 1;
            direction = 'right';


            var link;
            link = links.filter(function(l) {
              return (l.source === source && l.target === target);
            })[0];

            //when a link exists but direction is opposite, opposite link add
            if(link) {
              if(link[direction] != true){
                //link[direction] = true;
                link = {id:++newLinkId, source: source, target: target, sourceid : source.id, targetid: target.id, weight:1, left: false, right: false};
                link[direction] = true;
                links.push(link);
                selected_links.push(link);

                /*
                if(direction=='right'){
                  link2 = {id:++newLinkId, source: source, sourceid : source.id, targetid: target.id, target: target, weight:1};
                }
                if(direction=='left'){
                 link2 = {id:++newLinkId, source: target, sourceid : source.id, targetid: target.id, target: source, weight:1};
                }



                var idstr = "s"+link2.source.id+"t"+link2.target.id;
                var idstr2 = "#s"+link2.source.id+"t"+link2.target.id;

                d3.select("#inputlink")
                .append("tr")
                .attr("id", idstr);

                d3.select(idstr2)
                .append("td")
                .attr("id", idstr+"_s");

                d3.select(idstr2)
                .append("td")
                .attr("id", idstr+"_t");

                d3.select(idstr2)
                .append("td")
                .attr("id", idstr+"_w");

                d3.select("#"+idstr+"_s")
                .append("input")
                .attr("type", "text")
                .attr("id", "ss"+link2.source.id+"t"+link2.target.id)
                .attr("name", "l_s"+link2.id)
                .attr("size", "5")
                .attr("value", link2.source.label)
                .attr("stype", "width :100%;");

                d3.select("#"+idstr+"_s")
                .append("input")
                .attr("type", "hidden")
                .attr("id", "ssi"+link2.source.id+"t"+link2.target.id)
                .attr("name", "l_x"+link2.id)
                .attr("value", link2.source.id);

                d3.select("#"+idstr+"_t")
                .append("input")
                .attr("type", "hidden")
                .attr("id", "ts"+link2.source.id+"t"+link2.target.id)
                .attr("name", "l_t"+link2.id)
                .attr("size", "5")
                .attr("value", link2.target.label)
                .attr("stype", "width : 100%");

                d3.select("#"+idstr+"_t")
                .append("input")
                .attr("type", "hidden")
                .attr("id", "tsi"+link2.source.id+"t"+link2.target.id)
                .attr("name", "l_y"+link2.id)
                .attr("value", link2.target.id);


                d3.select("#"+idstr+"_w")
                .append("input")
                .attr("type", "hidden")
                .attr("id", "ws"+link2.source.id+"t"+link2.target.id)
                .attr("name", "l_w"+link2.id)
                .attr("size", "5")
                .attr("value", link2.weight)
                .attr("stype", "width : 100%");

                newlinks.push(link2);*/

              }


            }
            //when a link do not exists, a link add
            else {
              link = {id:++newLinkId, source: source, target: target, sourceid : source.id, targetid: target.id, weight:1, left: false, right: false};
              link[direction] = true;
              links.push(link);
              selected_links.push(link);

              /*

              if(direction=='right'){
                link2 = {id:++newLinkId, source: source, sourceid : source.id, targetid: target.id, target: target, weight:1};

              }
              if(direction=='left'){
                link2 = {id:++newLinkId, source: target, sourceid : source.id, targetid: target.id, target: source, weight:1};

              }


              var idstr = "s"+link2.source.id+"t"+link2.target.id;
              var idstr2 = "#s"+link2.source.id+"t"+link2.target.id;

              d3.select("#inputlink")
              .append("tr")
              .attr("id", idstr);

              d3.select(idstr2)
              .append("td")
              .attr("id", idstr+"_s");

              d3.select(idstr2)
              .append("td")
              .attr("id", idstr+"_t");

              d3.select(idstr2)
              .append("td")
              .attr("id", idstr+"_w");

              d3.select("#"+idstr+"_s")
              .append("input")
              .attr("type", "hidden")
              .attr("id", "ss"+link2.source.id+"t"+link2.target.id)
              .attr("name", "l_s"+link2.id)
              .attr("size", "5")
              .attr("value", link2.source.label)
              .attr("stype", "width :100%;");

              d3.select("#"+idstr+"_s")
              .append("input")
              .attr("type", "hidden")
              .attr("id", "ssi"+link2.source.id+"t"+link2.target.id)
              .attr("name", "l_x"+link2.id)
              .attr("value", link2.source.id);

              d3.select("#"+idstr+"_t")
              .append("input")
              .attr("type", "hidden")
              .attr("id", "ts"+link2.source.id+"t"+link2.target.id)
              .attr("name", "l_t"+link2.id)
              .attr("size", "5")
              .attr("value", link2.target.label)
              .attr("stype", "width : 100%");

              d3.select("#"+idstr+"_t")
              .append("input")
              .attr("type", "hidden")
              .attr("id", "tsi"+link2.source.id+"t"+link2.target.id)
              .attr("name", "l_y"+link2.id)
              .attr("value", link2.target.id);


              d3.select("#"+idstr+"_w")
              .append("input")
              .attr("type", "hidden")
              .attr("id", "ws"+link2.source.id+"t"+link2.target.id)
              .attr("name", "l_w"+link2.id)
              .attr("size", "5")
              .attr("value", link2.weight)
              .attr("stype", "width : 100%");

              newlinks.push(link2);  */

            }


            }
            selected_nodes = [];
            selected_nodes.push(mousedown_node);


          }
        }

        restart();
      }

    })

  // show node IDs
  g.append('svg:text')
      .attr('x', 0)
      .attr('y', 0)
      .attr('class', 'id')
      .text(function(d) { return d.label; });

  // remove old nodes
  circle.exit().remove();

  // set the graph in motion
  force.start();

}

function mousedown() {
  // prevent I-bar on drag
  //d3.event.preventDefault();

  // because :active only works in WebKit?
  svg.classed('active', true);

  if(!appMode == MODE.EDIT || mousedown_node || mousedown_link) return;

  if(d3.event.ctrlKey){
    var p = d3.mouse( this);

    svg.append( "rect")
    .attr({
        rx      : 6,
        ry      : 6,
        class   : "selection",
        x       : p[0],
        y       : p[1],
        width   : 0,
        height  : 0,
    })
  }

  else{
    // insert new node at point
    var point = d3.mouse(this),
        node = {id: ++lastNodeId, group:0, label:"Node"+lastNodeId, reflexive: false};


    node.x = point[0];
    node.y = point[1];

    nodes.push(node);


    selected_nodes =[]
    selected_links =[]
    selected_nodes.push(node);
    restart();
  }
}

function mousemove() {
  if(!d3.event.ctrlKey) return;

  var s = svg.select( "rect.selection");

  if( !s.empty()) {
      var p = d3.mouse( this),
          d = {
              x       : parseInt( s.attr( "x"), 10),
              y       : parseInt( s.attr( "y"), 10),
              width   : parseInt( s.attr( "width"), 10),
              height  : parseInt( s.attr( "height"), 10)
          },
          move = {
              x : p[0] - d.x,
              y : p[1] - d.y
          }
      ;

      if( move.x < 1 || (move.x*2<d.width)) {
          d.x = p[0];
          d.width -= move.x;
      } else {
          d.width = move.x;
      }

      if( move.y < 1 || (move.y*2<d.height)) {
          d.y = p[1];
          d.height -= move.y;
      } else {
          d.height = move.y;
      }

      s.attr(d);

      // deselect all temporary selected state objects
      selected_nodes = [];
      selected_links = [];
      x1 = d.x;
      x2 = d.x+d.width;
      y1 = d.y;
      y2 = d.y+d.height;


      for(var i=0; i<nodes.length; i++){
        node = nodes[i];
        if(node.x>= x1 && node.x<=x2 && node.y>=y1 && node.y<=y2){
          selected_nodes.push(node);
        }
      }


      for(var i=0; i<links.length; i++){
        link = links[i];
        var a = link.source.x,
            b = link.source.y,
            c = link.target.x,
            d = link.target.y;

        if(a>= x1 && a<=x2 && b>=y1 && b<=y2){
          selected_links.push(link);
        }
        else if(c>= x1 && c<=x2 && d>=y1 && d<=y2){
          selected_links.push(link);
        }
      }

  }

  path.classed('selected', function(d) { return (selected_links.indexOf(d)!= -1 ? true : false); })
    .style('marker-start', function(d) { return d.left ? 'url(#start-arrow)' : ''; })
    .style('marker-end', function(d) { return d.right ? 'url(#end-arrow)' : ''; });


  circle.selectAll('circle')
    .style('fill', function(d) { return (selected_nodes.indexOf(d)!= -1) ? d3.rgb(colors(d.group)).brighter().toString() : colors(d.group); })


}


function mouseup() {

  console.log(svg.select("rect.selection"));
  if(!svg.select("rect.selection").empty()){
    svg.selectAll( "rect.selection").remove();
    restart();
  }
  svg.classed('active', false);
  resetMouseVars();
}

function mouseleave(){
  svg.selectAll( "rect.selection").remove();
  if(!(selected_nodes.length==0)) restart();
}


function spliceLinksForNode(node) {
  var toSplice = links.filter(function(l) {
    return (l.source === node || l.target === node);
  });
  toSplice.map(function(l) {


    var link;
    source = l.source;
    target = l.target;

    link = newlinks.filter(function(l) {
      return (l.source === source && l.target === target);
    })[0];
    links.splice(links.indexOf(l), 1);

    /*
    if(link){
      d3.select("#ss"+link.source.id+"t"+link.target.id).remove();
      d3.select("#ts"+link.source.id+"t"+link.target.id).remove();
      d3.select("#ws"+link.source.id+"t"+link.target.id).remove();
      d3.select("#ssi"+link.source.id+"t"+link.target.id).remove();
      d3.select("#tsi"+link.source.id+"t"+link.target.id).remove();
    }

    else{

      var sl = l.source.label;
      var tl = l.target.label;

      if(l.right == true){
      d3.select("#inputnode")
        .append("input")
        .attr("type", "hidden")
        .attr("name", "d_"+l.id)
        .attr("value", l.id );

      }
      if(l.left == true){
       d3.select("#inputnode")
        .append("input")
        .attr("type", "hidden")
        .attr("name", "d_"+l.id)
        .attr("value", l.id );
      }
    }*/



  });
}

// only respond once per keydown
var lastKeyDown = -1;

function keydown() {
  //d3.event.preventDefault();

  var tagName = d3.select(d3.event.target).node().tagName;
  if(tagName == "INPUT"||tagName =="SELECT"||tagName =="TEXTAREA"){
    return;
  }


  if(lastKeyDown !== -1) return;
  lastKeyDown = d3.event.keyCode;

  // ctrl
  if(d3.event.keyCode === 17) {
    circle.call(force.drag);
    //svg.classed('ctrl', true);
  }

  //
  if(d3.event.keyCode === 27) {
    resetSelection();

  }


  for(var i=0; i< selected_nodes.length; i++){

   selected_node = selected_nodes[i];
    switch(d3.event.keyCode) {
      case 8: // backspace
      case 46: // delete

        nodes.splice(nodes.indexOf(selected_node), 1);
        spliceLinksForNode(selected_node);


        if(i==selected_nodes.length-1){
          selected_nodes=[];
        }
        restart();

    }
  }
  console.log("deletedata:"+nodes.length);



  for(var i=0; i< selected_links.length; i++){
    selected_link = selected_links[i];
    switch(d3.event.keyCode) {
      case 8: // backspace
      case 46: // delete


        var link;
        source = selected_link.source;
        target = selected_link.target;

        link = newlinks.filter(function(l) {
          return (l.source === source && l.target === target);
        })[0];


        links.splice(links.indexOf(selected_link), 1);
        if(i==selected_links.length-1){

          selected_links=[];
        }
        restart();
        break;

      case 67: // C
          // set link direction to change
        temp1 = selected_link.source;
        temp2 = selected_link.sourceid   ;
        selected_link.source = selected_link.target;
        selected_link.sourceid = selected_link.targetid;
        selected_link.target = temp1;
        selected_link.targetid = temp2;
        restart();
        break;

    }
  }



}

function keyup() {
  lastKeyDown = -1;

  // ctrl
  if(d3.event.keyCode === 17) {
    circle
      .on('mousedown.drag', null)
      .on('touchstart.drag', null);
    svg.classed('ctrl', false);
    svg.selectAll( "rect.selection").remove();
    if(!(selected_nodes.length==0)) restart();
  }
}

// app starts here
svg.on('mousedown', mousedown)
  .on('mousemove', mousemove)
  .on('mouseup', mouseup)
  .on('mouseleave', mouseleave);

d3.select(window)
  .on('keydown', keydown)
  .on('keyup', keyup);



restart();


var modeButtons = d3.selectAll('#mode-select button'),
    panes = d3.selectAll('#app-body .panel .tab-pane');


function setAppMode(newMode) {
  // mode-specific settings
  if(newMode === MODE.EDIT) {
    // enable listeners
    svg.classed('edit', true)
      .on('mousedown', mousedown)
      .on('mousemove', mousemove)
      .on('mouseup', mouseup)

    // remove eval classes
    circle
      .classed('waiting', false)
      .classed('true', false)
      .classed('false', false);

  } else if(newMode === MODE.EVAL) {
    // disable listeners (except for I-bar prevention)
    svg.classed('edit', false)
      .on('mousedown', function() { d3.event.preventDefault(); })
      .on('mousemove', null)
      .on('mouseup', null);
    d3.select(window)
      .on('keydown', null)
      .on('keyup', null);

    // in case ctrl still held
    circle
      .on('mousedown.drag', null)
      .on('touchstart.drag', null)
      .call(force.drag);
    svg.classed('ctrl', false);
    lastKeyDown = -1;

    // in case still dragging
    drag_line
      .classed('hidden', true)
      .style('marker-end', '');

    // clear mouse vars
    selected_link = null;
    //setSelectedNode(null);
    resetMouseVars();

    // reset eval state
    circle.classed('waiting', true);
  } else return;

  // switch button and panel states and set new mode

  appMode = newMode;

  restart();
}

function setSelectedNode() {
  d3.select("#selectednodes").selectAll("input").remove();
  d3.select("#selectednodes").selectAll("br").remove();
  //console.log("length:"+selected_nodes.length)
  for(var i=0; i<selected_nodes.length; i++){
    node = selected_nodes[i];
    d3.select("#selectednodes")
      .append("input")
      .attr("type", "text")
      .attr("id", i)
      .attr("size", "7")
      .attr("onchange", "editnodelabel(this.id, this.value)")
      .attr("value", node.label);


    d3.select("#selectednodes")
    .append("input")
    .attr("type", "text")
    .attr("id", i)
    .attr("onchange", "editnodegroup(this.id, this.value)")
    .attr("size", "5")
    .attr("value", node.group);

    d3.select("#selectednodes")
      .append("br");

  }
}

function setSelectedLinks() {
  d3.select("#selectedlinks").selectAll("input").remove();
  d3.select("#selectedlinks").selectAll("br").remove();
  //console.log("length:"+selected_nodes.length)
  for(var i=0; i<selected_links.length; i++){
    link = selected_links[i];

    d3.select("#selectedlinks")
      .append("input")
      .attr("type", "text")
      .attr("size", "7")
      .attr("readonly", "false")
      .attr("value", link.source.label);

    d3.select("#selectedlinks")
      .append("input")
      .attr("type", "text")
      .attr("size", "7")
      .attr("readonly", "false")
      .attr("value", link.target.label);

    d3.select("#selectedlinks")
      .append("input")
      .attr("type", "text")
      .attr("id", i)
      .attr("size", "7")
      .attr("onchange", "editlinkweight(this.id, this.value)")
      .attr("value", link.weight);

    d3.select("#selectedlinks")
      .append("br");
  }
}

function editnodelabel(id, val){

  node = selected_nodes[id];
  node.label = val;


  circle = circle.data(nodes, function(d) { return d.id; });

  // update existing nodes (reflexive & selected visual states)
  circle.selectAll('text')
    .text(function(d) { return d.label; });
  setSelectedLinks();
}


function editnodegroup(id, val){

  node = selected_nodes[id];
  node.group = val;


  circle = circle.data(nodes, function(d) { return d.id; });

  // update existing nodes (reflexive & selected visual states)
  circle.selectAll('circle')
    .style('fill', function(d) { return (selected_nodes.indexOf(d)!= -1) ? d3.rgb(colors(d.group)).brighter().toString() : colors(d.group); });

}


function editlinkweight(id, val){

  link = selected_links[id];
  link.weight = val;

}


function saveData(){

  for(var i=0; i<nodes.length;i++){
    node = nodes[i];
    d3.select("#newnode")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "n_n"+node.id)
    .attr("value", node.label);


    d3.select("#newnode")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "n_g"+node.id)
    .attr("value", node.group);


    d3.select("#newnode")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "n_i"+node.id)
    .attr("value", node.id);
  }

  for(var i=0; i<links.length;i++){

    link=links[i];
    d3.select("#newlink")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "l_s"+link.id)
    .attr("value", link.source.label);

    d3.select("#newlink")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "l_x"+link.id)
    .attr("value", link.source.id);

    d3.select("#newlink")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "l_t"+link.id)
    .attr("value", link.target.label);


    d3.select("#newlink")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "l_y"+link.id)
    .attr("value", link.target.id);


    d3.select("#newlink")
    .append("input")
    .attr("type", "hidden")
    .attr("name", "l_w"+link.id)
    .attr("value", link.weight);
  }

  document.getElementById("inputform").submit();
}

</script>