{% extends "base.html" %}
{% load static %}
{% block breadcrumbs %}
<li><a href="/newproject/">New Project</a></li>
{% endblock %}

{% block content %}










<ul class="nav nav-pills">

<li><a href="#blank" data-toggle="tab">New blank</a></li>
<li><a href="#inputfile" data-toggle="tab">Input File</a></li>

 
</ul>

<div class="tab-content"> 
<div class="tab-pane  " id="blank">

<form name='blankform' id='blankform' method='POST'>
  {% csrf_token %}
  <label for="projectname">Project Name</label> <input type='text' id='projectname' name='projectname'>  
  <button id='createbutton' onclick='Create()'>create</button>
</form>
 
</div>



<div class="tab-pane  " id="inputfile"> 

<form name='csv_form' id='csv_form' method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  <p> Only csv files are enabled </p>
  <p> A csv file should has source node, target node, weight. </p>
  <p> - Example - </p>
  <p> Jane, Mike, 2 </p>
  <p> Jane, John, 1 </p>
  <p> John, Mike, 1 </p>
  
  <br>

  <p>
  <label for="projectname">Project Name</label> <input type='text' id='projectname' name='projectname'>
  </p>

  <br>
  <p> Input a data file 
  <input type='file' id='upload_file' name='upload_file' style='width: 300px;' /> </p>
  <button id='csv_file_upload_button' class='uploader_btn' style='display:inline;'
     onclick='FileUpload()'>upload</button>
</form>
</div>
 

</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">



$(document).ready(function(){
// btn click
$("#csv_file_upload_button").click(function(){
var result = txtFieldCheck() == true ? true : false;
console.log(result);
});
});

function txtFieldCheck(){
// form안의 모든 text type 조회
var txtEle = $("#csv_form input[type=text]");  
  for(var i = 0; i < txtEle.length; i ++){
  // console.log($(txtEle[i]).val());
    if("" == $(txtEle[i]).val() || null == $(txtEle[i]).val()){
    var ele_id = $(txtEle[i]).attr("id");
    var label_txt = $("label[for='" + ele_id +"']").text();
    console.log("id : " + ele_id + ", label : " + label_txt);
    showAlert(ele_id, label_txt);
    return true;
    }
  }
}

function showAlert(ele_id, label_txt){
alert(label_txt + " is null");
// 해당 id에 focus.
$("#" + ele_id).focus();
}
 
  
function FileuploadCallback(data,state){
  if (data=="error"){
    alert("error.\n try again.");
    return false;
  }
  alert("upload completed");
}
 

function FileUpload() {
  if(!$("#upload_file").val()){
    alert("Select a file");
    $("#upload_file").focus();
    return;
  }
  
  var frm;
  frm = $('#csv_form'); 
  frm.attr("action","/uploadcsvfile/");
  frm.submit(); 
}

function Create() {
  console.log("ASFASDFASDFASDF")
  var frm;
  frm = $('#blankform'); 
  frm.attr("action","/newblank/");
  frm.submit(); 
}


</script>
{% endblock %}
