{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
Search
{% endblock %}

{% block content %}
{% include "search-form.html" %}
{% if network %}
	<table class="sort table">
        <tr><th>Node1 label</th><th>Node2 label</th><th>Weight</th></tr>
        {% for link in network %}
        <tr>
        <tbody>
        <td> {{ link.source }}</td>
        <td> {{ link.target }} </td>
        <td> <a href="{% url 'weight' pk=link.pk%}">{{ link.weight }} </a></td>
        
        </tbody>    
        </tr>
        {% endfor %}
    </table>
{% include "graph.html" %}
{% endif %}
{% if nodeset %}
        <table class="sort table">
        <tr><th>label</th><th>group</th><th> query </th><th>pos x</th><th>pos y</th></tr>
        {% for node in nodeset %}
        <tr>
        <tbody>
        <td> {{ node.name }}</td>
        <td> {{ node.category }} </td>
        <td> {{ node.isquery }} </td>
        <td>  {{ node.x }} </td>
        <td>  {{ node.y }} </td>

        </tbody>
        </tr>
        {% endfor %}
    </table>



{% endif %}

{% if links %}
        <table class="sort table">
        <tr><th>title</th><th>date</th><th>url</th></tr>
        {% for link in links %}
        <tr>
        <tbody>
        <td> {{ link.news.Title }}</td>
        <td> {{ link.news.Date }} </td>
        <td> {{ link.news.Url }} </td>

        </tbody>
        </tr>
        {% endfor %}
    </table>

{% endif %}


{% endblock %}




